<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Submit1</servlet-name>
        <servlet-class>Submit1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCalendar1</servlet-name>
        <servlet-class>ShowCalendar1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Calendar1Handler</servlet-name>
        <servlet-class>Calendar1Handler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addEvent</servlet-name>
        <servlet-class>addEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateDB</servlet-name>
        <servlet-class>updateDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteEvent</servlet-name>
        <servlet-class>deleteEvent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Submit1</servlet-name>
        <url-pattern>/Submit1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCalendar1</servlet-name>
        <url-pattern>/ShowCalendar1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Calendar1Handler</servlet-name>
        <url-pattern>/Calendar1Handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addEvent</servlet-name>
        <url-pattern>/addEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateDB</servlet-name>
        <url-pattern>/updateDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteEvent</servlet-name>
        <url-pattern>/deleteEvent</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
